@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/rumini-namamu");

body {
    background-color: #fee7d9;
    min-height: -webkit-fill-available;
}

.page {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: -webkit-fill-available;
}

.eefenjwfont {
    font-family: "Rumini Namamu", sans-serif;
}
.ankeveen-bg {
    background-image: url(/src/assets/ankeveen.jpg);
    background-size: cover;
    background-position: center;
}

.App {
    text-align: center;
}

.video-container {
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
}

.video-container > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}
