@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/rumini-namamu");

body {
    background-color: #fee7d9;
    min-height: -webkit-fill-available;
}

.page {
    height: 100vh;
    min-height: -webkit-fill-available;
}

.eefenjwfont {
    font-family: "Rumini Namamu", sans-serif;
}

.App {
    text-align: center;
}

.video-container {
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
}

.video-container > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}
