@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/rumini-namamu");
@import url("https://fonts.cdnfonts.com/css/the-saroja");
@import url("https://fonts.cdnfonts.com/css/nevermind-display");

body {
    background-color: #fee7d9;
    min-height: -webkit-fill-available;
    overflow: hidden;
}

.page {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: -webkit-fill-available;
}

.font-rumini {
    font-family: "Rumini Namamu", sans-serif;
}
.font-nevermind {
    font-family: "NeverMind Display", sans-serif;
}
.ankeveen-bg {
    background-image: url(/src/assets/ankeveen.jpg);
    background-size: cover;
    background-position: center;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.font-saroja {
    font-family: "The Saroja", sans-serif;
}

.App {
    text-align: center;
}

.video-container {
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
}

.video-container > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}
